* {
  margin: 0;
  padding: 0;
}

body {
  background: #234567;
}

#div1 {
  width: 200px;
  height: 200px;
  background: #567890;
}

#div1 padding {
  top: 50px;
  left: 20px;
}

#div1 a {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #115599;
}

#div1 a:hover {
  color: #551188;
}

.aa {
  width: 0;
  height: 0;
  border: 10px solid #000;
  border-color: transparent;
  border-top-color: #000;
}

.bb, .dd {
  width: 700px;
  height: 100px;
  background: #fff;
}

.cc {
  width: 100px;
  height: 50px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.dd {
  color: #886644;
}

.gg, .hh {
  width: 100px;
  height: 100px;
}

.hh {
  color: #404d59;
  height: 3;
}

.ii {
  width: 700px;
}

.jj {
  width: 100px;
  height: 100px;
}

.kk {
  width: 1000px;
}

.item1 {
  width: 20px;
}

.item2 {
  width: 40px;
}

.item3 {
  width: 60px;
}

.item4 {
  width: 80px;
}

.nav1 {
  width: 20px;
}

.nav2 {
  width: 40px;
}

.nav3 {
  width: 60px;
}

.nav4 {
  width: 80px;
}

.nav5 {
  width: 100px;
}
