@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1558707108104'); /* IE9 */
  src: url('iconfont.eot?t=1558707108104#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABmQAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwfwE2AiQDCAsGAAQgBYRtBy4bowXIviKSY/fDUEVUKMZcbe5Wh1RyoVbE5hlv4AM/GhFUa//23O0nAAmWNaAwGET3XJh0WGgyNinPRrz9X9sQDYm418EbyTRpP9k/8d2w12mZlAgRIo1QoQEKgLjkBM8Q1ORuu7e2LNIEJC05hprBITc/+N0Szzmq90iB62XDmHY+EKZmBSp2AUsXwlf6Avz7PJfTm0AHMj/QOV5z2x60NvUC6sWBFOgeGEVWKnnD2AUv8DGBSr3qMiuzzR7KEntVIE45lgblQlSSWKFcKG04mMRDKs9uZQ94EH0//tONcjIlOXvj+uHUhMEvH3KFYjkgxBDg8RLkmAYSsd2YXZUTjMupzOYNgmOVB7/4H3jFUV2C/XV2aTXohuozaTztoxYyeKyphoCxST+KGOLT7fH9py8/vm1ryxa+jFTFm89Vdecjqt5/C5+9//y6dajX2s6Nbly8eiv1vvqf6anl5b9/tDCzPgqgyDPIILi4UPvVSOBHMwoXhWF+UL5Pb/g3moEDydDZnixpmsbRzNA52ypVohgONnpPtbfcSDGUa5ngL9OTIVdumEzsNEpUmUGpcvOoNGV+vEoTlhOpApPuAKHeA5la35Cr9yQT+0KJVl+Uqo8clXbDhVVG43h1Jk3IRP06OntRqFyfVOPyLVknX+O8LuKPxKmTwE6zXS7MKSReYkt6xerKJYXqQhTgDDxHvh9hfCFyyZCmfUnifqulmt7UNM4GULWMEY0gJqS7QQ5DJKSC8aJa+fwWsZz4NNzRV1ceEZZyZkcdTe0B5NwcDup7lFdSZ5YuIRSksEgAzcA84vNFUNw8z0UMosmekI71tZxhaqi5ub01+LsTUMl2ZOHU59KxKCAA') format('woff2'),
  url('iconfont.woff?t=1558707108104') format('woff'),
  url('iconfont.ttf?t=1558707108104') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1558707108104#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}

