*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
.playingInterface{
    width: 100%;
    height: 820px;
    background-image: url(../static/img/darksky.jpg);
    background-position: center center;
    background-size:over;
    background-repeat: no-repeat;
    position: relative;
    display: none;
 }
.play-top{
width: 100%;
height: 40px;
background-color: gainsboro;
position: fixed;
top: 0px;
left: 0px;
display: flex;
justify-content: space-between;
align-items: center;
}
.button-back{
width: 50px;
height: 40px;
background-color: #f2f2f2;

}
.nav{
width: 120px;
height: 40px;
margin: 0px auto;
text-align: center;
line-height: 40px;
}
.share-back{
width: 50px;
height: 40px;
background-color: #f2f2f2; 
}
img{
width: 100%;
height: 800px;
z-index: 10
}
.cover-img-top{
width: 100%;
height: 80px;
position: absolute;
top: 40px;
left: 0px;
}
.songName{
width: 100%;
height: 40px;
text-align: center;
margin-top: 15px; 
}
.singer{
width: 100%;
height: 40px;
text-align: center;
}
.lyric{
width: 100%;
height: 600px;
position: absolute;
top: 140px;
}
.control-button{
width: 100%;
height: 80px;
position: absolute;
top: 740px;
display: flex;
justify-content: space-around;
align-items: center;
}
.love-songs{
width: 30px;
height: 30px;
border-radius:50%;
background-color: #f2f2f2;
text-align: center;
line-height: 30px;
}
.left-song{
width: 30px;
height: 30px;
border-radius:50%;
background-color: #f2f2f2;
text-align: center;
line-height: 30px;
}
.stop-song{
width: 60px;
height: 60px;
border-radius:50%;
background-color: #f2f2f2;
text-align: center;
line-height: 60px;
}
.right-song{
width: 30px;
height: 30px;
border-radius:50%;
background-color: #f2f2f2;
text-align: center;
line-height: 30px;
}
.download-songs{
width: 30px;
height: 30px;
border-radius:50%;
background-color: #f2f2f2;
text-align: center;
line-height: 30px;
}