<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        .pink {
            background: pink;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 class='text-center'>todolist</h1>
        <p>
            <form class="form-inline text-center">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" v-model="searchName"
                        placeholder="请输入商品名称">
                </div>
                <button class="btn btn-default glyphicon glyphicon-search" @click.prevent="filProduct()"
                    type="submit">搜索</button>
            </form>
        </p>
        <p>
            <form class="form-inline text-center">
                <div class="form-group">
                    <label for="exampleInputName2">商品名称</label>
                    <input type="text" class="form-control" v-model="proName" id="exampleInputName2"
                        placeholder="请输入商品名称">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">商品价格</label>
                    <input type="text" class="form-control" v-model="proPrice" id="exampleInputName2" placeholder="0">
                </div>
                <button type="submit" class="btn btn-default glyphicon glyphicon-plus"
                    @click.prevent='add()'>增加</button>
            </form>
        </p>
        <table class='table table-bordered text-center'>
            <thead>
                <td>选择</td>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>删除</td>
            </thead>
            <tbody>
                <tr v-for="(item,index) in showList" :key="item.id" @click="change(item.id)"
                    :class="{pink:item.isPink}">
                    <td><input type="checkbox" v-model="item.isPink"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button @click.stop='del(item.id)' type="button"
                            class="btn btn-warning glyphicon glyphicon-remove btn-xs"></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-danger btn-xs" @click="delChecked()">删除选中</button></td>
                    <td colspan="3">总价是: {{total}} 元</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src='vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                productList: [
                    {
                        name: '衣服',
                        price: 123,
                        isPink: false,
                        id: 1
                    }, {
                        name: '裤子',
                        price: 234,
                        isPink: false,
                        id: 2
                    }, {
                        name: '帽子',
                        price: 99,
                        isPink: false,
                        id: 3
                    }, {
                        name: '鞋',
                        price: 499,
                        isPink: false,
                        id: 4
                    }
                ],
                showList: [
                    {
                        name: '衣服',
                        price: 123,
                        isPink: false,
                        id: 1
                    }, {
                        name: '裤子',
                        price: 234,
                        isPink: false,
                        id: 2
                    }, {
                        name: '帽子',
                        price: 99,
                        isPink: false,
                        id: 3
                    }, {
                        name: '鞋',
                        price: 499,
                        isPink: false,
                        id: 4
                    }
                ],
                proName: '',
                proPrice: 0,
                searchName: ''
            },
            methods: {
                add() {
                    this.productList.push({
                        name: this.proName,
                        price: Number.parseFloat(this.proPrice),
                        isPink: false,
                        id: Symbol()
                    });
                    this.showList = [...this.productList];
                },
                change(id) {
                    this.productList.forEach(function (obj, index) {
                        if (obj.id == id) {
                            obj.isPink = !obj.isPink;
                        }
                    });
                },
                delChecked() {
                    let arr = this.showList.filter(function (obj, index) {
                        return !obj.isPink;
                    });
                    this.productList = [...arr];
                    this.showList = [...arr];
                },
                del(id) {
                    let delList = this.productList.filter((obj, index) => {
                        return obj.id != id;
                    });
                    this.productList = [...delList];
                    this.showList = [...delList];
                },
                filProduct() {
                    let searchList = this.productList.filter((obj, index) => {
                        return obj.name.includes(this.searchName);
                    });
                    this.showList = [...searchList];
                    this.searchName = '';
                }
            },
            computed: {
                total() {
                    let sum = 0;
                    this.showList.forEach(function (item, index) {
                        if (item.isPink) {
                            sum += item.price;
                        }
                    })
                    return sum;
                }
            }
        });
    </script>
</body>

</html>