<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            是否需要其他书籍
            <input type="checkbox" v-model='isCheck' @click='fn()'>
            <ul v-show='isCheck'>
                <li v-for='obj in payList'>
                    {{obj.name}}({{obj.price}})
                    <input type="checkbox" v-model='orderList' :value='obj'>
                </li>
            </ul>
        </div>
        <div>
            <p>订单费用信息</p>
            <ul>
                <li v-for='obj in orderList'>{{obj.name}}{{obj.price}}</li>
            </ul>
        </div>
        <div>总金额：{{total()}}</div>
    </div>
    <script src='vue.js'></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                isCheck:false,
                payList:[
                    {
                        name:'我在未来等你',
                        price:42
                    },
                    {
                        name:'想着光亮那方',
                        price:35
                    },
                    {
                        name:'谁的青春不迷茫',
                        price:39
                    }
                ],
                orderList:[
                    {
                        name:'别做那只迷途的候鸟',
                        price:39
                    }
                ]
            },
            methods:{
                total(){
                    let count = 0;
                    this.orderList.forEach(function(obj){
                        count+=obj.price;
                    })
                    return count;
                },
                fn(){
                    this.orderList.splice(1);
                }
            }
        });
    </script>
</body>
</html>