<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        是否需要其他书籍
        <input type="checkbox" v-model='isCheck' @click='fn()'>
        <ul v-show='isCheck'>
            <li v-for='obj in payList'>{{obj.name}} ({{obj.price}})
                <input type="checkbox" v-model='orderList' :value='obj'>
            </li>
        </ul>
        <div>
            <p>订单费用信息</p>
            <ul>
                <li v-for='obj in orderList'>{{obj.name}} ({{obj.price}})</li>
            </ul>
        </div>
        <div>总金额: {{total()}}</div>
    </div>

    <script src='vue.js'></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isCheck: false,
                payList: [
                    {
                        name: '谁的青春不迷茫',
                        price: 32
                    },
                    {
                        name: '你的孤独 虽败犹荣',
                        price: 33
                    },
                    {
                        name: '向着光亮那方',
                        price: 36
                    }
                ],
                orderList: [
                    {
                        name: '我在未来等你',
                        price: 42
                    }
                ]
            },
            methods: {
                total() {
                    let count = 0;
                    this.orderList.forEach(function (obj) {
                        count += obj.price;
                    })
                    return count;
                },
                fn() {
                    this.orderList = [this.orderList[0]];
                }
            }
        })
    </script>
</body>

</html>